.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin-top: 80px;
}

.trending {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  background: #000;
  padding: 20px 0 70px;
}